
<div class="container-fluid">


    <!--header-->
    <div class="well">
        <div class="row">
            <img id="logo" src="assets/images/Illegal_Formation_logo_01.png" alt="">

        </div>
    </div>
    <!--/header-->

    <!--login form-->
    <div class="panel panel-default">
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group">
                    <p class="help-block">Example - return err here - help text here.</p>
                    <a href="#" class="btn btn-link btn-xs">Reset Password</a> | <a href="#" class="btn btn-link btn-xs">Create an Account</a>

                </div>

                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>


    <!--/login form-->

</div>