<div class="container-fluid">


    <!--header-->
    <div class="well">
        <div class="row">
            <img id="logo" src="assets/images/Illegal_Formation_logo_01.png" alt="">

        </div>
    </div>
    <!--/header-->

    <!--login form-->
    <div class="panel panel-default">
        <div class="panel-body">
            <div>
                <a href="#" class="btn-link">Reset Password</a> &nbsp | &nbsp <a href="/auth/register" class="btn-link">Create an
                Account</a>
            </div>
            <br>
            <form action="/auth/login" method="POST">
                <div class="form-group">

                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="user-email" placeholder="Email" name="email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="user-password" placeholder="Password" name="password">
                </div>
                <div class="form-group">
                    <p class="help-block"></p>
                </div>
                <button id="login-btn" type="submit" class="btn btn-default" >Submit</button>

            </form>
        </div>
    </div>
    <!--/login form-->

</div>